<nav>
    <ul>
        <li>
            <a href="@@prefix/public/index.html" class="highlight"><i class="fa-solid fa-plus"></i> Add</a>
            <ul>
                <li><a href="@@prefix/public/forms/thread.html">Add a Thread</a></li>
                <li><a href="@@prefix/public/forms/site.html">Add a Site</a></li>
                <li><a href="@@prefix/public/forms/character.html">Add a Character</a></li>
                <li><a href="@@prefix/public/forms/partner.html">Add a Partner</a></li>
            </ul>
        </li>
        <li>
            <a href="@@prefix/public/tracking/gb.html">Godly Behaviour</a>
            <ul>
                <li><a href="@@prefix/public/tracking/gb.html">Threads</a></li>
                <li><a href="@@prefix/public/tracking/gb-archived.html">Archived Threads</a></li>
                <li><a href="@@prefix/public/charts/gb.html">Charts</a></li>
                <li><a href="@@prefix/public/characters/gb.html">Characters</a></li>
            </ul>
        </li>
        <li>
            <a href="@@prefix/public/tracking/sww.html">Southern Winds Weyr</a>
            <ul>
                <li><a href="@@prefix/public/tracking/sww.html">Threads</a></li>
                <li><a href="@@prefix/public/tracking/sww-archived.html">Archived Threads</a></li>
                <li><a href="@@prefix/public/charts/sww.html">Charts</a></li>
                <li><a href="@@prefix/public/characters/sww.html">Characters</a></li>
                <li><a href="@@prefix/public/characters/flight-calendar.html">Flight Calendar</a></li>
            </ul>
        </li>
    </ul>
</nav>