<nav>
    <ul>
        <li>
            <button class="highlight" onClick="toggleActive(this)"><i class="fa-solid fa-plus"></i> Add</button>
            <ul>
                <li><a href="@@prefix/public/forms/thread.html">Add a Thread</a></li>
                <li><a href="@@prefix/public/forms/site.html">Add a Site</a></li>
                <li><a href="@@prefix/public/forms/character.html">Add a Character</a></li>
                <li><a href="@@prefix/public/forms/partner.html">Add a Partner</a></li>
            </ul>
        </li>
        <li>
            <button onClick="toggleActive(this)">Active</button>
            <ul>
                <li>
                    <button onClick="toggleActive(this)">Godly Behaviour</button>
                    <ul>
                        <li><a href="@@prefix/public/tracking/gb.html">Threads</a></li>
                        <li><a href="@@prefix/public/tracking/gb-archived.html">Archives</a></li>
                        <li><a href="@@prefix/public/charts/gb.html">Charts</a></li>
                        <li><a href="@@prefix/public/characters/gb.html">Characters</a></li>
                    </ul>
                </li>
                <li>
                    <button onClick="toggleActive(this)">Where the Hell Is</button>
                    <ul>
                        <li><a href="../../public/tracking/wthi.html">Threads</a></li>
                        <li><a href="../../public/tracking/wthi-archived.html">Archives</a></li>
                        <li><a href="../../public/charts/wthi.html">Charts</a></li>
                        <li><a href="../../public/characters/wthi.html">Characters</a></li>
                    </ul>
                </li>
                <li>
                    <button onClick="toggleActive(this)">Southern Winds Weyr</button>
                    <ul>
                        <li><a href="@@prefix/public/tracking/sww.html">Threads</a></li>
                        <li><a href="@@prefix/public/tracking/sww-archived.html">Archived Threads</a></li>
                        <li><a href="@@prefix/public/charts/sww.html">Charts</a></li>
                        <li><a href="@@prefix/public/characters/sww.html">Characters</a></li>
                        <li><a href="@@prefix/public/characters/flight-calendar.html">Flight Calendar</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>